#box{
    width: 200px;
    height: 200px;
    background-color: cyan;
    font-size: 8em;
    text-align: center;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes slideleft {

    to {
        transform: translateX(100px);
    }
    
}

@keyframes rotate {

    
        50%{transform: rotateZ(360deg)};
    
}