body{
    margin: 2px;
    border: 3px solid;
    height: 200px;
    overflow:hidden;
    
}

.box{
    border: 5px solid;
    font-size: 3em;
    width: 150px;
    height: 150px;
    margin: auto;

}

#box1{

    background-color: red;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin left auto is for the object to stay rightmost of the webpage*/
    /*margin right auto is for the object to stay leftmost of the webpage*/
    /*margin auto means the box will be in the middle of the page*/


}

#box2{

    background-color: blue;

}

#image1{
    float:left; /*float left means the image is on left text on right*/
    margin-right:auto;

}

#image2{
    float:right;
    margin-left: 10px;
    
}