*{
    box-sizing: border-box  ;
}
body{
    margin: 0px;
}

header{
    background-color: grey;
    text-align: center;
    padding: 10px 10px;


}

.navbar{
    background-color: blue;
    height: 60px;
}

aside{
    width: 25%;
    float: left;
    padding: 5px;
    
}

section{
    width: 50%;
    float: left;
    padding: 5px;
}

article{
    width: 25%;
    float: left;
    padding: 5px;
}

footer{
    display:block;
    clear:both; /*to clear the floating issue*/
    background-color: red;
    text-align: center;
    padding: 15px;
}

/*if viewed on a smaller screen*/
@media  screen and (max-width:600px) {
    aside,section,article {
        width: 100%;
    }
    
}